html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex, .img-logo {
  display: block;
  width: 100%;
}

.logo {
  position: absolute;
  left: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 45em;
  padding-left: 18rem;
}

.banner-content p {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.banner-content h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 .5rem;
}

.btn {
  padding: .6em .75em;
  background-color: #333;
  border-radius: 8px;
  border: 3px solid #333;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
